@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

body {
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif !important;
    overflow-x: hidden;
}
/* main code */

code {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
}

nav {
    padding: 0.5% !important;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.35);
    font-weight: bold;
}

/* tabs */
/* .my_btn{
    background: linear-gradient(to right, rgb(36, 141, 202), rgb(56, 63, 197));
    text-align: center !important;
} */
@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}


@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
}

.list-bus {
    padding: 2%;
    font-size: 1.25rem;
    background-color: #f8f9fa !important;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.35);
    margin-bottom: 2%;
}

.icon img {
    max-width: 100%;
}

.info-btn:hover {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.text-uppercase {
    letter-spacing: 0.1em;
}

/* footer */
.footer {
    background-color: #ffffff;
}

.footer p {
    margin: 0 !important;
    padding: 1%;
}

/* success page */
.jumbotron {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.35);
    margin-top: 4%;
    width: 100% !important;
}

@media (max-width: 576px) {
    .jumbotron {
        margin: 20% 0;
    }

    .footer {
        margin-top: 120px;
    }

    .footer p {
        padding: 20px;
    }
}

/* filter */
.filter .input-field input {
    width: 100%;
    outline: none;
    border: none;
    padding: 1%;
    border-radius: 15px;
    font-size: 1.25rem;
}

@media (max-width: 576px) {
    .date input {
        margin-top: 25px;
    }
}