<!-- LOGO AND MENU SECTION -->
<div class="top-logo" data-spy="affix" data-offset-top="250">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wed-logo">
                    <a href="index.html"><img src="images/logo_org.png" alt="" />
                    </a>
                </div>
                <!-- navbar -->
                <div class="main-menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="all-package.html">Packages</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="dashboard.html">Profile</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li class="ed-btn-sin"><a href="login.html">Login</a></li>
                        <li class="ed-btn-sup"><a href="register.html">Sign Up</a></li>
                    </ul>
                </div>
                <!-- nav end -->
            </div>
        </div>
    </div>
</div>